body {
    background-color: #f8eeff;

    #about-us {
        padding: 0 30px;
        margin: 80px auto;
        text-align: center;
        background-color: #f8eeff;

        .about-us-heading {
            margin-bottom: 20px;

            h2 {
                color: $header-font-color;
                text-shadow: 1px 1px 2px #8b7cad;
                margin: 0;
            }

            p {
                font-family: $main-font;
                color: $accent-font-color;
                padding: 5px auto;
            }
        }

        .about-us-pictures {
            height: 420px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .img-frame {
                width: 200px;
                height: 200px;
                margin-top: 20px;
            }
        }
    }
}

@media all and (min-width: $extra-small-size) {
    body {

        #about-us {
            margin-bottom: 0;

            .about-us-pictures {
                height: 290px;
            }
        }
    }
}