/* font colors: */
$main-font-color: #fff5b5;
$secondary-font-color: #f98282;
$header-font-color: #605579;
$accent-font-color: #211a42;

/* background colors: */
$main-background-color: #1c1638;
$secondary-background-color: #f8eeff;
$accent-color: #e7b550;


/* Container size: */
$small-container-size: 100%;
$large-container-size: 960px;
$extra-large-container-size: 1140px;

/* Mobile sizes: */
$extra-extra-small-size: 320px;
$extra-small-size: 480px;
$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;
$extra-large-size: 1200px;