body {

    footer.footer-section {
        border-top: 1px solid $main-font-color;
        background-color: $main-background-color;
        height: 46px;
        text-align: center;
        padding: 20px 30px;

        p {
            color: $main-font-color;
            font-size: 14px;
        }
    }
}